.buttonContainer{
    width: 93px;
    height: 93px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    font-size: 30px;
    font-weight: 500;
}

.buttonContainer:hover{
    cursor: pointer;
}

.extra {
    background-color: #a0a0a0;
}

.extra:hover {
    background-color: #a0a0a0aa;
}

.number {
    background-color: #313131;
}

.number:hover {
    background-color: #313131aa;
}

.zero {
    background-color: #313131;
    width: 186px;
    border-radius: 50px;
}

.zero:hover {
    background-color: #313131aa;
}

.operator {
    background-color: #f69906;
}

.operator:hover {
    background-color: #f69906aa;
}