.App {
  height: 100vh;
  background-color: #1b1b32;
  font-family: lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.headContainer{
  width: 100%;
}

.upBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculatorContainer{
  width: 400px;
  height: 70%;
  padding: 14px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  border: 5px solid white;
}

.row {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.zeroContainer {
  width: 50%;
}

.equalContainer {
  display: flex;
  width: 50%;
}

.addBtnContainer{
  width: 100%;
  background-color: gray;
  height: 10vh;
}

@media(min-width:480px){
.calculatorContainer{
  background-color: red;
}
}

@media(min-width:768px){
  .calculatorContainer{
    background-color: green;
  }
}

@media(min-width:1279px){
  .calculatorContainer{
    background-color: orange;
  }
}